{% extends "dashboard/index.html.twig" %}

{% block title %}Books {% endblock %}

{% block body %}
    <a href="{{ path('tambah_buku') }}" class="btn btn-primary" style="margin-bottom: 3%">Tambah Buku</a>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Judul</th>
                <th>Genre</th>
                <th>Stock</th>
                <th>Penulis</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ book.namaBuku }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.stock }}</td>
                    <td>{{ book.author }}</td>
                    <td>
                        <a href="{{ path('edit_buku', {id: book.id}) }}" class="btn btn-sm btn-warning">Buku</a>
                        <form method="post" action="{{ path('hapus_buku', {id: book.id}) }}" style="display:inline-block;" onsubmit="return confirm('Yakin ingin menghapus buku ini?');">
                            <input type="hidden" name="hapus_id" value="{{ book.id }}">
                            <button class="btn btn-sm btn-danger">Hapus</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}